@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .owl-theme .item div h2 {
    animation: fadeInUp 0.8s ease-in-out;
  }
  
  .owl-theme .item div p {
    animation: fadeInUp 1s ease-in-out;
  }
  
  /* Navigation Button Styles */
  .nav-btn {
    font-size: 2rem;
    color: #fff;
    padding: 8px 15px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    cursor: pointer;
    /* background: rgba(0, 0, 0, 0.5); */
  }
  
  .nav-left {
    left: 0px;
  }
  
  .nav-right {
    right: 0px;
  }
  
  .nav-btn:hover {
    background: rgba(255, 255, 255, 0.7);
    color: #000;
  }
  
  